#header-image-menu{
  top: 10px;
  position: relative;
}
#header-image-menu img{
  width: 100%;
  margin: none;
  padding: none;
}#image-text{
  position: absolute;
  top: 60%;
  left: 60%;
  font-family: 'Roboto';
  color: #000;
  transform: translate(-30%, -30%);
  text-align: center;
}
/*****************************/
/* Styling Header Image Menu */
/*****************************/
#header-image-menu{
  top: 10px;
  position: relative;
}

#header-image-menu img{
  width: 100%;
  margin: none;
  padding: none;
}

#image-text{
  position: absolute;
  top: 60%;
  left: 60%;
  font-family: 'Roboto';
  color: #000;
  transform: translate(-30%, -30%);
  text-align: center;