<section class="container">
        <div class="columns is-multiline">
            <div class="column is-8 is-offset-2 register">
                <div class="columns">
                    <div class="column left has-text-centered">
                        <h1 class="title is-3">Client Login</h1>
                        <p class="description">Welcome back! Please enter your credentials to access your diet tracker.</p>
                        <form action="/login" method="POST">
                            <div class="field">
                                <div class="control mt-4">
                                    <input class="input is-medium" type="email" name="email" placeholder="Email">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <button class="button is-block is-primary is-fullwidth is-medium">Login</button>
                            <br />
                            <small><em>Every healthy choice brings you closer to your goal.</em></small>
                        </form>
                    </div>
                    <div class="column right has-text-centered">
                        <h1 class="title is-3">Sign up today</h1>
                        <p class="description">Don’t have an account? Sign up now to start tracking your nutrition journey.</p>
                        <form action="/register" method="POST">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="text" name="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="password" name="password" placeholder="Password">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-medium" type="password" name="confirmPassword" placeholder="Confirm Password">
                                </div>
                            </div>
                            <button class="button is-block is-primary is-fullwidth is-medium">Submit</button>
                            <br />
                            <small><em>This is the best decision you could take.</em></small>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column is-8 is-offset-2">
                <br>
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <span class="icon">
                                <i class="fab fa-twitter"></i>
                            </span> &emsp;
                            <span class="icon">
                                <i class="fab fa-facebook"></i>
                            </span> &emsp;
                            <span class="icon">
                                <i class="fab fa-instagram"></i>
                            </span> &emsp;
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span> &emsp;
                            <span class="icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="level-right">
                        <small class="level-item" style="color: var(--textLight)">
                            &copy; {{currentYear}} Food Tracker App Website. All Rights Reserved.
                        </small>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</body>