<section class="container">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
          <div class="columns">             
            <div class="column right has-text-centered">
              <h1 class="title is-4">Questionnaire  </h1>
              <p class="description">Please take a moment to introduce yourself by providing your information. </p>
              <form>

                <div class="field">
                  <label class="label">Height (in cm)</label>
                  <div class="control">
                    <input class="input is-medium" placeholder="Enter your height" id="height">
                  </div>
                </div>
        
                <div class="field">
                  <label class="label">Weight (in kg)</label>
                  <div class="control">
                    <input class="input is-medium" placeholder="Enter your weight" id="weight">
                  </div>
                </div>
        
                <div class="field">
                  <label class="label">Age</label>
                  <div class="control">
                    <input class="input is-medium" placeholder="Enter your age" id="age">
                  </div>
                </div>
        
                <div class="field">
                  <label class="label">Gender</label>
                  <div class="control">
                    <div class="select is-medium">
                      <select id="gender">
                        <option value="" disabled selected>Select your gender</option>
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                    <label class="label">Exercise Type</label>
                    <div class="control">
                      <div class="select is-medium">
                        <select id="exerciseIntensity">
                          <option value="" disabled selected>Select your exercise</option>
                          <option>Sedentary</option>
                          <option>Moderate</option>
                          <option>Very Active</option>
                          <option>Extra Active</option>
                        </select>
                      </div>
                    </div>
                  </div>
        
                <div class="field">
                  <div class="control">
                    <button class="button is-primary is-medium" id="submitQuestionnaire">Submit</button>
                  </div>
                </div>
        
              </form>
            </div>
          </div>
        </div>
        <div class="column is-8 is-offset-2">
          <br>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fab fa-facebook"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fab fa-instagram"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
        
          </nav>
        </div>
      </div>
    </section>
    <script src="\js\questionnaire.js"></script>